name: build-config
on:
  push:
    branches:
      - master
      - wayland
  pull_request:
    branches:
      - master
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build-home-manager-config:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
      - name: Install Nix
        uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GH_TOKEN_FOR_UPDATES }}
      - name: Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: rprecenth
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
      - name: Build config
        run: >
          cachix watch-exec rprecenth nix -- run github:Mic92/nix-fast-build -- --no-nom --skip-cached --flake .#homeConfigurations."rasmus@kalmiya".activationPackage
